* {
    box-sizing: border-box;
}

.animal-gallery {
    border: 3px dashed salmon;
    min-height: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    align-content: center;
    gap: 5px;
}

.animal-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    padding: 15px;
    background-color: #dbcee8;
    border-radius: 10px;
}

.animal-card>img {
    width: 100%;
}

li>span {
    font-weight: bold;
}